# Custom Project Documentation Files
VISION.md
DESIGN_SYSTEM.md
MVP.md
PROJECT_RULES.md

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# User-specific stuff
.idea/
.vscode/
*.iml
*.ipr
*.iws
.reloadspec

# Flutter / Dart specific
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android specific
android/app/debug/
android/app/profile/
android/app/release/
android/app/src/main/resources/
android/key.properties
android/.gradle/
android/captures/
android/gradlew
android/gradlew.bat
android/local.properties

# iOS specific
ios/Runner.xcodeproj/project.xcworkspace/
ios/Runner.xcodeproj/xcuserdata/
ios/Runner.xcworkspace/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
ios/Flutter/app.zip
ios/Flutter/flutter_assets/
ios/ServiceDefinitions.json
ios/Pods/
ios/Podfile.lock
